<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>MEFoodMarket</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Adminlogin</display-name>
    <servlet-name>Adminlogin</servlet-name>
    <servlet-class>com.login.Adminlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminlogin</servlet-name>
    <url-pattern>/Adminlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Campaigns</display-name>
    <servlet-name>Campaigns</servlet-name>
    <servlet-class>com.campaign.Campaigns</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Campaigns</servlet-name>
    <url-pattern>/Campaigns</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AgentLogin</display-name>
    <servlet-name>AgentLogin</servlet-name>
    <servlet-class>com.login.AgentLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgentLogin</servlet-name>
    <url-pattern>/AgentLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CordLogin</display-name>
    <servlet-name>CordLogin</servlet-name>
    <servlet-class>com.login.CordLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CordLogin</servlet-name>
    <url-pattern>/CordLogin</url-pattern>
  </servlet-mapping>
</web-app>